ToyRobot/ToyRobotLibrary/obj/*
ToyRobot/.vs/*
ToyRobot/ToyRobotLibraryTests/obj/*
ToyRobot/ToyRobotLibrary/bin/*
ToyRobot/ToyRobotLibraryTests/bin/*
ToyRobot/ToyRobotConsole/bin/*
ToyRobot/ToyRobotConsole/obj/*